// Fonts

// Mont font
@font-face {
  font-family: 'Mont';
  src: url('/Mont/Mont-Regular.eot');
  src: local('Mont Regular'), local('Mont-Regular'),
  url('/Mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
  url('/Mont/Mont-Regular.woff') format('woff'),
  url('/Mont/Mont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/Mont/Mont-Bold.eot');
  src: local('Mont Bold'), local('Mont-Bold'),
  url('/Mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
  url('/Mont/Mont-Bold.woff') format('woff'),
  url('/Mont/Mont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/Mont/Mont-SemiBold.eot');
  src: local('Mont SemiBold'), local('Mont-SemiBold'),
  url('/Mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/Mont/Mont-SemiBold.woff') format('woff'),
  url('/Mont/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// Roboto font
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('/Roboto/Roboto.woff2') format('woff2'),
  url('/Roboto/Roboto.woff') format('woff'),
  url('/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('/Roboto/Robotomedium.woff2') format('woff2'),
  url('/Roboto/Robotomedium.woff') format('woff'),
  url('/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
