@import "variables";
@import "mixins";

// Sections

@import "sections/header";


body, html {
  font-family: $content-font;
  font-size: $content-font-size;
  line-height: $content-line-height;
  color: $black;
  padding: 0;
  margin: 0
}
