@import "src/assets/fonts/fonts.scss";

/* Variables */

/* Fonts */
$content-font: 'Roboto-Regular', sans-serif;
$content-medium: 'Roboto-Medium', sans-serif;
$bold-font: 'Mont-Bold', sans-serif;
$regular-font: 'Mont-Regular', sans-serif;
$semiBold-font: 'Mont-SemiBold', sans-serif;

$content-font-size: 14px;
$content-line-height: 21px;

/* Colors */
$primary: #6C0F0F;
$white: #FFFFFF;
$black: #232323;
$beige: #E9DFD3;

