@import "../../mixins";

.invest-project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 10%;
  @include tablets {
    padding: 100px 40px;
    align-items: stretch;
  }
  @include phones {
    padding: 60px 20px 80px;
  }
  &__column {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    &:last-child {
      padding-left: 3%;
      @include phones {
        display: none;
      }
      @include tablets {
        padding-left: 30px;
        display: flex;
      }
    }
  }
  &__title {
    @include h2();
    margin-top: 10px;
    margin-bottom: 30px;
    @include phones {
      @include h2_mobile();
      display: none;
    }
    @include tablets {
      width: 329px;
    }
    &__mobile {
      display: none;
      @include phones {
        display: inline;
        width: 100%;
      }
    }
  }
  &__info {
    @include content_text();
    max-width: 370px;
    @include phones {
      width: 281px;
      margin-bottom: 30px;
    }
    @include tablets {
      width: 324px;
      margin-bottom: 40px;
    }
    opacity: .7;
    margin-bottom: 40px;
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    @include phones {
      flex-direction: column;
      align-items: flex-start;
    }
    @include tablets {
      flex-direction: column;
      align-items: flex-start;
    }
    button {
      @include phones {
        width: calc(100% - 15px);
      }
      @include tablets {
        width: 230px;
      }
    }
    button:first-child {
      margin-right: 45px;
      @include phones {
        order: 2;
        margin-bottom: 0;
        margin-top: 20px;
      }
      @include tablets {
        margin-right: 0;
        order: 0;
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
  }
  &__counter-block {
    &:last-child {
      margin-top: 60px;
    }
    sup {
      vertical-align: super;
    }
    &__mobile {
      display: none;
      margin-bottom: 20px;
      @include phones {
        display: flex;
        flex-direction: column;
      }
      @include tablets {
        display: none;
      }
    }
    &__count {
      @include s1();
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &__info {
      @include content_text();
      opacity: .7;
    }
  }
}
