<header class="header">
    <div class="header_lang-switcher">
        <div class="lang active">UA</div>
        <div class="lang">Eng</div>
    </div>
    <div class="header_logo"></div>
    <div class="header_contacts">
        <a href="tel: +380961225364">+380 96 122 53 64</a>
    </div>
</header>
