<section class="main_about fadeInAnimate">
    <div class="main_about__title-mobile">
        <span class="over_h over_h_conditional">Про нас</span>
        <h2 class="main_about_info_title">Творимо <br> з 2002 року</h2>
    </div>
    <div class="main_about__block">
        <div class="main_about_image">
            <img src="/static/main/main_block1.png" alt="Творимо з 2002 року">
        </div>
        <div class="main_about_info">
            <div class="main_about_info__title">
                <span class="over_h over_h_conditional">Про нас</span>
                <h2 class="main_about_info_title">Творимо з 2002 року</h2>
            </div>

            <p class="main_about_info_content">
                Компанія «Дольче Віта» розташована в екологічно чистій зоні на околиці міста Києва, а також має зручну логістичну розв’язку. Основні напрямки діяльності – виробництво заморожених напівфабрикатів і кондитерських виробів, та здача в оренду виробничих, складських, офісних приміщень і виробничого обладнання, що включає в себе повний цикл виготовлення продуктів харчування
            </p>
            <div class="main_about_info__btn-wrapper">
                <button class="btn_default btn_default_bordo">Детальніше</button>
            </div>
        </div>
    </div>

</section>
