<section class="activities fadeInAnimate">
    <h2 class="activities_title">
        Види діяльності
    </h2>
    <div class="activities_blocks">
        <div class="activities_block activities_block_column">
            <div class="activities_block__title">
                <span class="over_h over_h_bordo over_h__tablet">складська логістика</span>
            </div>
            <div class="activities_block_info">
                <div class="activities_block_image">
                    <img src="/static/main/main_block2_1.png" alt="складська логістика">
                </div>
                <p>
                    Складське зберігання сировини та готової продукції в повному обсязі необхідному для виробничого процесу від сухих складів до 0 +5 ºС, -11 ºС, - 18 ºС ,-25 ºС
                </p>
                <button class="btn_default btn_default_bordo">
                    Детальніше
                </button>
            </div>
        </div>

        <div class="activities_block activities_block_column">
            <div class="activities_block__title">
                <span class="over_h over_h_bordo">оренда виробничих потужностей</span>
                <span class="over_h over_h_bordo over_h__tablet">оренда виробничих <br> потужностей</span>
            </div>
            <div class="activities_block_info">
                <div class="activities_block_image">
                    <img src="/static/main/main_block2_2.png" alt="оренда виробничих потужностей">
                </div>
                <p>
                    Включає в себе повний цикл виготовлення - пельменів, равіолів, вареників, млинців, замороженого тіста, круасанів, виробів із листкового тісті, хлібо-булочних виробів, бісквітних тістечок
                </p>
                <button class="btn_default btn_default_bordo">
                    Детальніше
                </button>
            </div>
        </div>
    </div>
</section>
