<header class="main_header" id="header">
    <div class="top-line desktop">
        <div class="left-column">
            <div class="menu-switcher">
                <div class="menu-switcher_icon menu-switcher_icon_open">
                    <span class="menu-switcher_icon_line top"></span>
                    <span class="menu-switcher_icon_line med"></span>
                    <span class="menu-switcher_icon_line bottom"></span>
                </div>
            </div>
            <nav class="menu">
                <a href="#" class="menu_item">Про компанію</a>
                <a href="#" class="menu_item">діяльність</a>
                <a href="#" class="menu_item">інвестиційний проект</a>
            </nav>
        </div>
        <a href="/" class="logo">
            <img src="/static/logo.svg" alt="logo">
        </a>
        <div class="right-column">
            <div class="lang-switcher">
                <span class="lang-switcher_item active">UA</span>
                <span class="lang-switcher_item">EN</span>
            </div>
            <a class="feedback" href="#callback">
                <span>зворотній зв’язок</span>
            </a>
        </div>
    </div>
    <div class="top-line mobile">
        <div class="lang-switcher">
            <span class="lang-switcher_item active">UA</span>
            <span class="lang-switcher_item">EN</span>
        </div>
        <a href="/" class="logo">
            <img src="/static/logo.svg" alt="logo">
        </a>

        <div class="menu-switcher">
            <div class="menu-switcher_icon menu-switcher_icon_open">
                <span class="menu-switcher_icon_line top"></span>
                <span class="menu-switcher_icon_line med"></span>
                <span class="menu-switcher_icon_line bottom"></span>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_caption">
            <span class="over_h over_h_conditional">Оптом та в роздріб</span>
            <h1 class="banner_caption_header">Круасани<br>та складові<br>від<span class="accent"> виробника</span></h1>
        </div>
        <div class="banner_image">
            <img src="/static/main/main_banner.png" alt="Круасани та складові від виробника">
        </div>
    </div>
    <div class="callback-btn__wrapper">
        <a href="#callback" class="btn_default callback-btn">зворотній зв’язок</a>
    </div>
    <div class="scroll-down">
        <a class="scroll-down_btn" href="#callback">
            <img src="/static/caret-down_icon.svg" alt="scroll down">
        </a>
    </div>
    <div class="navigation-popup">
        <div class="top-line">
            <div class="left-column">
                <div class="menu-switcher">
                    <div class="menu-switcher_icon_close">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8.5" y="7.5" width="22" height="2" transform="rotate(45 8.5 7.5)" fill="white"/>
                            <rect x="24.5" y="8.5" width="22" height="2" transform="rotate(135 24.5 8.5)" fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>
            <a href="/" class="logo">
                <img src="/static/logo.svg" alt="logo">
            </a>
            <div class="right-column">
                <div class="lang-switcher">
                    <span class="lang-switcher_item active">UA</span>
                    <span class="lang-switcher_item">EN</span>
                </div>
                <div class="feedback">
                    <span>зворотній зв’язок</span>
                </div>
            </div>
        </div>
        <div class="top-line mobile">
            <div class="lang-switcher">
                <span class="lang-switcher_item active">UA</span>
                <span class="lang-switcher_item">EN</span>
            </div>
            <a href="/" class="logo">
                <img src="/static/logo.svg" alt="logo">
            </a>

            <div class="menu-switcher">
                <div class="menu-switcher_icon menu-switcher_icon_close">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8.5" y="7.5" width="22" height="2" transform="rotate(45 8.5 7.5)" fill="#6C0F0F"/>
                        <rect x="24.5" y="8.5" width="22" height="2" transform="rotate(135 24.5 8.5)" fill="#6C0F0F"/>
                    </svg>
                </div>
            </div>

        </div>
        <div class="navigation-popup_list" id="popup-navigation-list">
            <a href="#" class="navigation-popup_list_item">Про компанію</a>
            <a href="#" class="navigation-popup_list_item">Діяльність</a>
            <a href="#" class="navigation-popup_list_item">Інвестиційний проект</a>
            <a href="#" class="navigation-popup_list_item">Контакти</a>
            <a href="#" class="navigation-popup_list_item">Новини</a>
        </div>

        <div class="navigation-popup__callback-btn__wrapper">
            <a href="#callback" class="btn_default callback-btn">зворотній зв’язок</a>
        </div>
    </div>
</header>
