<section class="invest-project fadeInAnimate">
    <div class="invest-project__column">
        <span class="over_h">Долучайся до нас</span>
        <h2 class="invest-project__title">Інвестиційний проект</h2>
        <h2 class="invest-project__title invest-project__title__mobile"><span class="accent">Інвестиційний</span> <br> проект</h2>
        <div class="invest-project__info">
            Маємо інвестиційний проект на будівництво виробничо-складських та офісних приміщень. Планується спільний проект з компанією «NANO FOOD», по виробництву французьких круасанів та хлібів з французької сировини.
        </div>
        <div class="invest-project__counter-block invest-project__counter-block__mobile">
            <span class="over_h">м<sup class="over_h">2</sup></span>
            <div class="invest-project__counter-block__count">8841,26</div>
            <div class="invest-project__counter-block__info">загальна площа забудови</div>
        </div>

        <div class="invest-project__counter-block invest-project__counter-block__mobile">
            <span class="over_h">м<sup class="over_h">2</sup></span>
            <div class="invest-project__counter-block__count">30137,03</div>
            <div class="invest-project__counter-block__info">загальна площа будівництва</div>
        </div>
        <div class="invest-project__btn-wrapper">
            <button class="btn_default btn_default_bordo">детальніше</button>
            <button class="btn_default btn_default-solid-bordo">стати інвестором</button>
        </div>
    </div>
    <div class="invest-project__column">
        <div class="invest-project__counter-block">
            <span class="over_h">м<sup class="over_h">2</sup></span>
            <div class="invest-project__counter-block__count">8841,26</div>
            <div class="invest-project__counter-block__info">загальна площа забудови</div>
        </div>

        <div class="invest-project__counter-block">
            <span class="over_h">м<sup class="over_h">2</sup></span>
            <div class="invest-project__counter-block__count">30137,03</div>
            <div class="invest-project__counter-block__info">загальна площа будівництва</div>
        </div>
    </div>
</section>
