<section class="last-news fadeInAnimate">
    <h2 class="last-news__title">
        Останні новини
    </h2>
    <div class="last-news__list">
        <div class="last-news__list__item">
            <div class="last-news__list__item__content">
                <h4>Iталійський майстер створив <br>унікальну технологію випічки <br>круасанів</h4>
                <div class="date">25.06.19</div>
                <a href="#" class="link">детальніше</a>
            </div>

            <img src="/static/main/main_news.png" alt="Iталійський майстер створив be унікальну технологію випічки круасанів">
        </div>
        <div class="last-news__list__item-secondary">
            <div class="last-news__list__item-secondary__item">
                <h4>Завод Дольче Віта оснастили новітнім <br> обладнанням з урахуванням останніх <br> досягнень науки і технологій.</h4>
                <div class="date">10.06.19</div>
                <a href="#" class="link">детальніше</a>
            </div>
            <div class="last-news__list__item-secondary__item">
                <h4>Тепер нашу продукцію можна знайти <br> в роздрібних мережах «Фуршет»</h4>
                <div class="date">19.05.19</div>
                <a href="#" class="link">детальніше</a>
            </div>
        </div>
    </div>
    <button class="btn_default btn_default_bordo">перейти у розділ</button>
</section>
