<div class="callback fadeInAnimate" id="callback">
    <div class="callback__main">
        <div class="callback__column">
            <div class="callback__column__title">
                <span class="over_h">Контакти</span>
                <h2>Завжди раді чути вас</h2>
            </div>

            <div class="callback__column__address">
                <h3>Адреса</h3>
                <p class="content-info">
                    Україна, м. Київ, Бориспільське шосе, 7Б <br> Генеральний директор — <br> Савченко Сергій Валентинович
                </p>
                <a href="https://www.google.com/maps/place/%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BF%D1%96%D0%BB%D1%8C%D1%81%D1%8C%D0%BA%D0%B5+%D1%88%D0%BE%D1%81%D0%B5,+7,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.396742,30.7412328,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4c36bc06a9f3b:0xb34e39636c565d1a!8m2!3d50.396742!4d30.7434215" target="_blank" class="content-info content-info-opacity-1">
                    Ми на картi
                </a>
            </div>

            <div class="callback__column__contacts">
                <h3>Телефон</h3>
                <div class="callback__column__contacts__list">
                    <a href="tel:+380445681174" class="content-info">+38 (044) 568-11-74 — Відділ продажу</a>
                    <a href="tel:+380445681175" class="content-info">+38 (044) 568-11-75 — Відділ збуту</a>
                    <a href="tel:+380445681176" class="content-info">+38 (044) 568-11-76 — Відділ продажу</a>
                    <a href="tel:+380445681177" class="content-info">+38 (044) 568-11-77 — Відділ збуту</a>
                    <a href="tel:+380445681178" class="content-info">+38 (044) 568-11-78 — Відділ продажу</a>
                </div>
            </div>

            <div class="callback__column__email">
                <h3>E-mail</h3>
                <a href="mailto:info@dv.ua">info@dv.ua</a>
            </div>


        </div>
        <div class="callback__column callback__column__callback">
            <div id="callback_form_wrapper">
                <div class="callback__column__title"></div>
                <h3>Зворотній зв’язок</h3>
                <form action="#" class="callback__column__callback__form" id="callback_form">
                    <label for="name" id="nameLabel">
                        <input type="text" placeholder="Ім’я" name="name" id="name">
                        <span class="error">Будь ласка, введіть ваше ім'я</span>
                    </label>
                    <label for="phone" id="phoneLabel">
                        <input type="number" placeholder="Телефон" name="phone" id="phone">
                        <span class="error">Будь ласка, введіть ваш номер телефону</span>
                    </label>
                    <label for="email" id="emailLabel">
                        <input type="text" placeholder="E-mail" name="email" id="email" >
                        <span class="error">Будь ласка, введіть корректний e-mail</span>
                    </label>
                    <label for="comment" class="comment">Коментар</label>
                    <textarea name="Коментар" id="comment" class="comment-area"></textarea>
                    <div class="btn_wrapper">
                        <button class="btn_default btn_default_white" type="submit">відправити</button>
                    </div>
                </form>
            </div>

            <div class="callback__column__callback__form_success" id="callback_form_success">
                <h3 class="callback__column__callback__thanks">Дякуємо! <br>Ваш лист успішно надіслано.</h3>
                <p class="content-info">Найближчим часом наш <br> співробітник зв'яжеться з Вами.</p>
            </div>
        </div>
    </div>
    <div class="callback__copyright">
        <div class="callback__copyright__column">
            <p>© 2019 Всі права захищено</p>
        </div>
        <div class="scroll-up">
            <a class="scroll-up_btn" href="#header">
                <img src="/static/caret-up_icon.svg" alt="scroll up">
            </a>
        </div>
        <div class="callback__copyright__column callback__copyright__column-bordo">
            <img src="/static/by_facility.svg" alt="by facility">
            <img class="mobile" src="/static/by_facility_mobile.svg" alt="by facility">
        </div>
    </div>
</div>
